/* /Components/Layout/LoadingSpinner.razor.rz.scp.css */
/* Used under CC0 license */

.lds-ellipsis[b-r2l46lu3g7] {
    color: #666;
    animation: fade-in-b-r2l46lu3g7 1s;
}

@keyframes fade-in-b-r2l46lu3g7 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.lds-ellipsis[b-r2l46lu3g7],
.lds-ellipsis div[b-r2l46lu3g7] {
    box-sizing: border-box;
}

.lds-ellipsis[b-r2l46lu3g7] {
    margin: auto;
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-ellipsis div[b-r2l46lu3g7] {
        position: absolute;
        top: 33.33333px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: currentColor;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

        .lds-ellipsis div:nth-child(1)[b-r2l46lu3g7] {
            left: 8px;
            animation: lds-ellipsis1-b-r2l46lu3g7 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(2)[b-r2l46lu3g7] {
            left: 8px;
            animation: lds-ellipsis2-b-r2l46lu3g7 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(3)[b-r2l46lu3g7] {
            left: 32px;
            animation: lds-ellipsis2-b-r2l46lu3g7 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(4)[b-r2l46lu3g7] {
            left: 56px;
            animation: lds-ellipsis3-b-r2l46lu3g7 0.6s infinite;
        }

@keyframes lds-ellipsis1-b-r2l46lu3g7 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3-b-r2l46lu3g7 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2-b-r2l46lu3g7 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}
/* /Components/Layout/MainLayout.razor.rz.scp.css */
#blazor-error-ui[b-ggpm0ed3jh] {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-ggpm0ed3jh] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* /Components/Pages/Chat/Chat.razor.rz.scp.css */
.chat-container[b-iu7y3i8roi] {
    position: sticky;
    bottom: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 1.5rem;
    border-top-width: 1px;
    background-color: #F3F4F6;
    border-color: #E5E7EB;
}
/* /Components/Pages/Chat/ChatCitation.razor.rz.scp.css */
.citation[b-kpaeygqwvw] {
    display: inline-flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-top: 1rem;
    margin-right: 1rem;
    border-bottom: 2px solid #a770de;
    gap: 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    background-color: #ffffff;
}

    .citation[href]:hover[b-kpaeygqwvw] {
        outline: 1px solid #865cb1;
    }

    .citation svg[b-kpaeygqwvw] {
        width: 1.5rem;
        height: 1.5rem;
    }

    .citation:active[b-kpaeygqwvw] {
        background-color: rgba(0,0,0,0.05);
    }

.citation-content[b-kpaeygqwvw] {
    display: flex;
    flex-direction: column;
}

.citation-file[b-kpaeygqwvw] {
    font-weight: 600;
}
/* /Components/Pages/Chat/ChatHeader.razor.rz.scp.css */
.chat-header-container[b-te0azkav1d] {
    top: 0;
    padding: 1.5rem;
}

.chat-header-controls[b-te0azkav1d] {
    margin-bottom: 1.5rem;
}

h1[b-te0azkav1d] {
    overflow: hidden;
    text-overflow: ellipsis;
}

.new-chat-icon[b-te0azkav1d] {
    width: 1.25rem;
    height: 1.25rem;
    color: rgb(55, 65, 81);
}

@media (min-width: 768px) {
    .chat-header-container[b-te0azkav1d] {
        position: sticky;
    }
}
/* /Components/Pages/Chat/ChatInput.razor.rz.scp.css */
.input-box[b-fculv6b83u] {
    display: flex;
    flex-direction: column;
    background: white;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
    margin-top: 0.75rem;
}

    .input-box:focus-within[b-fculv6b83u] {
        outline: 2px solid #4152d5;
    }

textarea[b-fculv6b83u] {
    resize: none;
    border: none;
    outline: none;
    flex-grow: 1;
}

    textarea:placeholder-shown + .tools[b-fculv6b83u] {
        --send-button-color: #aaa;
    }

.tools[b-fculv6b83u] {
    display: flex;
    margin-top: 1rem;
    align-items: center;
}

.tool-icon[b-fculv6b83u] {
    width: 1.25rem;
    height: 1.25rem;
}

.send-button[b-fculv6b83u] {
    color: var(--send-button-color);
    margin-left: auto;
}

    .send-button:hover[b-fculv6b83u] {
        color: black;
    }

.attach[b-fculv6b83u] {
    background-color: white;
    border-style: dashed;
    color: #888;
    border-color: #888;
    padding: 3px 8px;
}

    .attach:hover[b-fculv6b83u] {
        background-color: #f0f0f0;
        color: black;
    }
/* /Components/Pages/Chat/ChatMessageItem.razor.rz.scp.css */
.user-message[b-t27lb7sx26] {
    background: rgb(182 215 232);
    align-self: flex-end;
    min-width: 25%;
    max-width: calc(100% - 5rem);
    padding: 0.5rem 1.25rem;
    border-radius: 0.25rem;
    color: #1F2937;
    white-space: pre-wrap;
}

.assistant-message[b-t27lb7sx26], .assistant-search[b-t27lb7sx26] {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: 2rem minmax(0, 1fr);
    gap: 0.25rem;
}

.assistant-message-header[b-t27lb7sx26] {
    font-weight: 600;
}

.assistant-message-text[b-t27lb7sx26] {
    grid-column-start: 2;
}

.assistant-message-icon[b-t27lb7sx26] {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    width: 1.5rem;
    height: 1.5rem;
    color: #ffffff;
    background: #9b72ce;
}

    .assistant-message-icon svg[b-t27lb7sx26] {
        width: 1rem;
        height: 1rem;
    }

.assistant-search[b-t27lb7sx26] {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.assistant-search-icon[b-t27lb7sx26] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
}

    .assistant-search-icon svg[b-t27lb7sx26] {
        width: 1rem;
        height: 1rem;
    }

.assistant-search-content[b-t27lb7sx26] {
    align-content: center;
}

.assistant-search-phrase[b-t27lb7sx26] {
    font-weight: 600;
}
/* /Components/Pages/Chat/ChatMessageList.razor.rz.scp.css */
.message-list-container[b-q2ka3n8z9u] {
    margin: 2rem 1.5rem;
    flex-grow: 1;
}

.message-list[b-q2ka3n8z9u] {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.no-messages[b-q2ka3n8z9u] {
    text-align: center;
    font-size: 1.25rem;
    color: #999;
    margin-top: calc(40vh - 18rem);
}

chat-messages[b-q2ka3n8z9u] >  div:last-of-type {
    /* Adds some vertical buffer to so that suggestions don't overlap the output when they appear */
    margin-bottom: 2rem;
}
/* /Components/Pages/Chat/ChatSuggestions.razor.rz.scp.css */
.suggestions[b-qdbi4ky6g9] {
    text-align: right;
    white-space: nowrap;
    gap: 0.5rem;
    justify-content: flex-end;
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 0.75rem;
}
