.input-box[b-fculv6b83u] {
    display: flex;
    flex-direction: column;
    background: white;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
    margin-top: 0.75rem;
}

    .input-box:focus-within[b-fculv6b83u] {
        outline: 2px solid #4152d5;
    }

textarea[b-fculv6b83u] {
    resize: none;
    border: none;
    outline: none;
    flex-grow: 1;
}

    textarea:placeholder-shown + .tools[b-fculv6b83u] {
        --send-button-color: #aaa;
    }

.tools[b-fculv6b83u] {
    display: flex;
    margin-top: 1rem;
    align-items: center;
}

.tool-icon[b-fculv6b83u] {
    width: 1.25rem;
    height: 1.25rem;
}

.send-button[b-fculv6b83u] {
    color: var(--send-button-color);
    margin-left: auto;
}

    .send-button:hover[b-fculv6b83u] {
        color: black;
    }

.attach[b-fculv6b83u] {
    background-color: white;
    border-style: dashed;
    color: #888;
    border-color: #888;
    padding: 3px 8px;
}

    .attach:hover[b-fculv6b83u] {
        background-color: #f0f0f0;
        color: black;
    }
